<div class="row" ng-controller="NavbarController">
  <div class="navbar navbar-static-top svr-navbar">
    <div class="container-fluid nav-header-fluid">
      <div class="navbar-header">
        <div class="svr-styles" style="cursor: pointer;">
          <div class="svr-logo">
            <img src="../../assets/images/svr.png" alt="SVR LOGO">
          </div>
          <div class="svr-logo-text">
            <span class="svr-logo-text-top">СИСТЕМА ВЕДЕННЯ</span>
            <br>
            <span class="svr-logo-text-bottom">РЕЄСТРІВ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

